@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Titillium+Web:200,300,400,600,700&display=swap&subset=cyrillic-ext');

* {
    padding: 0;
    margin: 0;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    border-radius: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 0;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.emptyWorkWrapper {
    display: flex;
    justify-content: center;
}

.emptyWorkWrapper p {
    margin: 23vh 0;
    font-size: 3vw;
    padding: 0 15px;
}

.emptyWorkWrapper p a {
    color: #1600d5;
}

.workContentTitle,
.newsContentTitle {
    font-size: 35px;
    font-weight: 300;
    margin: 20px 0;
    display: block;
    float: left;
}
.newsContentTitle{
    font-size: 26px;
}

.workContentTitle:hover,
.newsContentTitle:hover {
    text-decoration: underline;
}

.workPostsWrapper,
.newsPostsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.newsPostsWrapper {
    padding: 0 15px;
    width: 75%;
    margin-top: 60px;
}

.newsPostsHeader {
    font-size: 5vw;
    padding-left: 15px;
    margin-top: 120px;
    font-family: "Titillium Web";
}

.workContentImgWrapper:hover img,
.newsPostContentImgWrapper:hover img {
    transform: scale(1.1);
}

.workContentImgWrapper:hover,
.newsPostContentImgWrapper:hover {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
}

.newsPostContentImgWrapper img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.workContentImgWrapper img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.workPostsContentWrapper {
    width: 50%;
    margin: 10px 0;
}

.newsPostsContentWrapper {
    width: 33.3%;
    margin: 10px 0;
}

.workContentImgWrapper,
.newsPostContentImgWrapper {
    width: 100%;
    height: 350px;
    display: block;
    overflow: hidden;
    transition: all .5s ease;
}
.newsPostContentImgWrapper{
    height: 180px;
}
.workPostsContent,
.newsPostsContent {
    padding: 0 15px;
}

.content {
    flex: 1;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
}

.preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: fixed;
    font-size: 8vw;
    z-index: 101;
}

.preloader_text {
    display: none;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .8s ease-in;
}

.container,
.mainContent_page {
    padding: 0 15px;
}

.fullPageSection_container {
    height: 100%;
}

.mainHeader {
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 30px);
    top: 0;
    height: 50px;
    z-index: 3;
}

.aboutPageContentHeader {}

.mainHeader_logo {
    font-size: 40px;
}

.mainHeader_menu {
    display: flex;
    font-weight: 500;
}

.mainHeader_menu li {
    margin: 0 15px;
}

.singlePageContent {
    /* min-height: calc(100% - 60px); */
    /* padding-top: 60px; */
    margin-top: 75px;
}

.pageLayoutContainer {
    padding: 15px;
}

.contactLink {
    font-weight: 100;
}

#fullPageScroll {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.fullPageSection {
    height: 100%;
    display: flex;
}

.mainContent_page {
    height: 100%;
}

.mainContent_text1 {
    font-size: 80px;
    font-weight: 500;
}

.mainContent_text2 {
    font-size: 6.5vw;
    font-weight: 500;
}

.mainContent_text3 {
    font-size: 65px;
    font-weight: 500;
}

.mainContent_text4 {
    font-size: 60px;
    font-weight: 500;
}

.mainContent_text5 {
    font-size: 50px;
    font-weight: 500;
}

.mainContent_text6 {
    font-size: 40px;
    font-weight: 500;
}

.mainContent_text7 {
    font-size: 30px;
    font-weight: 500;
}

.primaryBtn {
    padding: 15px 20px;
    border: 2px solid;
    transition: all .5s;
    font-weight: 500;
}

.primaryBtn:hover {
    color: #fff;
    background-color: #000;
}

.socialsWrapper {
    display: flex;
    align-items: center;
    margin: 0 10px;

}

.socialIcon {
    display: block;
    margin: 0 10px;
    color: #202020;
}

.pagesFooter a {
    color: #fff;
}

.pagesFooter {
    background-color: #000;
    color: #fff;
    width: calc(100% - 30px);
    padding: 30px 15px;
    display: flex;
    margin-top: 60px;
}

.pagesFooterCol {
    flex: 1;
}

.pagesFooterHeader {
    font-size: 28px;
    font-weight: 600;
    padding: 15px 0;
}

.pagesFooterContent {
    display: block;
    margin: 15px 0;
    font-size: 22px;
    font-weight: 100;
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span,
    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span {
        width: 6px;
        height: 6px;
        margin: -3px 0 0 -3px;
    }

    .mainContent_text2 {
        font-size: 9vw;
    }

    .mainHeader_logo {
        font-size: 25px;
    }

    .mainHeader_menu {
        font-size: 12px;
    }

    .mainHeader_menu li {
        margin: 0 8px;
    }

    .pagesFooterCol {
        flex: 1;
    }

    .pagesFooter {
        /* flex-direction: column; */
        justify-content: space-between;
    }

    .pagesFooterHeader {
        font-size: 18px;
        padding: 7px 0;
    }

    .pagesFooterContent {
        font-size: 12px;
        margin: 7px 0;
    }

    .pagesFooter {
        padding: 15px;
    }
    .emptyWorkWrapper p {
        font-size: 4.5vw;
    }
    .newsPostsWrapper{
        width: calc(100% - 30px);
    }
    .newsPostsContentWrapper{
        width: 100%;
    }
}